# Ignora los archivos relacionados a API keys
.env
# Ignora los archivos relacionados a API keys
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
alejilloloperaprivate.pem
alejilloloperapublic.pem
publickey.pub
